<div class="row">
<div class="col-sm-8" id="timerArea">
  <p id="scramble">NextScramble:</p>
  <div id="timer">00:00.000</div>
  <button type="button" id="btnStart" class="btn btn-lg btn-primary"  onclick="pushSpaceKey()" >
        Please Click This Button
  </button>

</div>

<div div class="col-sm-4" id="recordArea">
  <ul type="circle"></ul>
</div>
</div>

<script type="text/javascript">

  //各種変数の定義
  btnFlg      = 0;                                      // [Start]/[Stop]のフラグ
  elapsedTime = 0;                                      // 経過時間
  btnStart    = document.getElementById("btnStart");    // スタートボタン
  timer       = document.getElementById("timer");       // 表示時間
  scramble    = document.getElementById("scramble");    // スクランブルリスト
  recordArea  = document.getElementById("recordArea");  // レコードエリア
  
  //キーが押下された時のイベントリスナー
  document.addEventListener("keydown",pushSpaceKey)
  
  //表示時間の成型
  function updateTime(){
    m  = ('0'   + Math.floor(elapsedTime / 60000)).slice(-2);         // 分の取得
    s  = ('0'   + Math.floor(elapsedTime % 60000 / 1000)).slice(-2);  // 秒の取得
    ms = ('000' + elapsedTime % 1000).slice(-3);                      // ミリ秒の取得
    timer.textContent = m + ":" + s + "." + ms;                       // タイマーの書式設定
  }
  
  //再帰的にcountUpを呼び出してカウントアップ(10ミリ秒ごとに呼び出す)
  function countUp(){
    timerId = setTimeout(function(){
      elapsedTime = Date.now() - startTime;
      countUp();
      updateTime();
    },10);
  }
  
  //スクランブルを取得
  function nextScrambler(){
    scrList = [];
    step = 0;
    symbol = ["F","F2","F'","U","U2","U'","R","R2","R'","L","L2","L2","B","B2","B'","D","D2","D'"];
    for (step = 0; step < 15; step++){
      scrList.push(symbol[Math.floor(Math.random() * symbol.length)]);
    }
    
    scramble.innerHTML = "NextScramble:"
    for (step = 0; step < 15; step++){
    scramble.innerHTML = scramble.innerHTML + scrList[step] + " ";
    }
  }
  
  //レコードを追加
  function addRecord(){
    newRecord = document.createElement("li");
    newRecord.innerHTML = timer.textContent;
    recordArea.appendChild(newRecord);
  }
  
  //イベントリスナー
  function pushSpaceKey(){
  //押下されたキーコードが32(スペースキー)か判定
  if (event.keyCode == 32){
    if (btnFlg==0){	          
      btnStart.style.backgroundColor = "#DF0101";
      startTime = Date.now();
      btnFlg = 1;
      btnStart.innerHTML = 'Time is being measured...';
      countUp();
    }else{	                  
      btnStart.style.backgroundColor = "#337ab7";
      btnFlg = 0;
      btnStart.innerHTML = 'Please Push "Space" Key';
      clearTimeout(timerId);
      nextScrambler();
      addRecord();
    }
    }
  }
</script>

