@import "bootstrap-sprockets";
@import "bootstrap";

/* univarsal */

body {
  padding-top: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h3 {
    text-align: right;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* timerArea */

#timerArea {
  float: left;
}

#timer {
  margin-top: 80px;
  margin-bottom: 60px;
  font-size: 100px;
  text-align: left;
}

#scramble{
  margin-top: 60px;
  font-size: 20px;
  text-align: left;
}

#btnStart{
  font-size: 30px;
  margin-top: 30px;
  text-align: left;
}

/* recordArea */
#recordArea {
  margin-top: 30px;
  float:right;
  text-align: left;
  font-size: 10px;
  
}
